  <% layout("/layouts/boilerplate") %>
   
   

 <div class="filters ">
   <div class="filter">
      <i class="fa-solid fa-people-roof"></i> 
      <p>Rooms</p>
   </div>
     <div class="filter ">
      <i class="fa-solid fa-person-swimming"></i> 
      <p>pools</p>
   </div>
    <div class="filter">
      <i class="fa-solid fa-cow"></i>
      <p>farms</p>
    </div>
    <div class="filter ">
      <i class="fa-solid fa-campground"></i> 
      <p>camping</p>
    </div>
    <div class="filter more-icon">
       <i class="fa-brands fa-fort-awesome"></i> 
      <p>castle</p>
   </div>
    <div class="filter more-icon">
      <i class="fa-solid fa-city"></i> 
      <p>iconic cities</p>
   </div>
      <div class="filter more-icon">
      <i class="fa-solid fa-mountain-city"></i>
      <p>mountain-cities</p>
   </div>

   <div class="more" id="greater-than">
      <div class="filter more_filter" id="greaterBtn">
        <i class="fa-solid fa-greater-than"></i>
      </div>
   </div>

 <div class="tax-switch" id="switchCheckReverse1">
    <div class="form-check form-switch form-check-reverse" id="tax-switch" >
        <input class="form-check-input" type="checkbox"  id="switchCheckReverse">
        <label class="form-check-label" for="switchCheckReverse" id="switchCheckReverse">Display after tax</label>
    </div>
  </div>

 </div>

 <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 card-container">
   <% for(let listing of listings) { %>

   <a href="/listings/<%= listing._id %>">
     <div class="card col allcards" >
           <img style="height:20rem " src="<%= listing.image.url %>" class="card-img-top" alt="house-image">
           <div class="card-img-overlay" id=overlay1 ></div>

      <div class="card-body listing-card ">
           <p class="card-text"><b><%= listing.owner.username %></b></p>
           <p class="card-text"><b><%= listing.title %></b></p>
           <p class="card-text">&#8377;<%= listing.price.toLocaleString("en-IN")%>/night <i class="taxInfo"> &nbsp; &nbsp;+ 18GST</i></p>

       </div>
   </div>
   </a>
  <% } %>
 </div>

 <script>
      let myButton =  document.getElementById("switchCheckReverse");
  
      myButton.addEventListener('click', function() {

      let taxInfo = document.getElementsByClassName("taxInfo");
   
      for(tax of taxInfo) {
        if(tax.style.display != "inline") {
           tax.style.display = "inline";
        }  else {
          tax.style.display = "none";
        }
        
      }
      });

      let greaterBtn = document.getElementById("greaterBtn");
      greaterBtn.addEventListener('click', function() {
        let moreIcons = document.getElementsByClassName("more-icon");
        for(icon of moreIcons) {
          if(icon.style.display !== "none") {
             icon.style.display = "none";
          }  else {
            icon.style.display = "inline";
          }
        }
      });
 </script>
